/* *****************************************************************************
//                      actions-on-selection-widget.css
// SILEX-PHIS
// Copyright © INRA 2019
// Creation date: 5 May 2019
// Contact: andreas.garcia@inra.fr, anne.tireau@inra.fr, pascal.neveu@inra.fr
//******************************************************************************/
#selection-count-alert {
    display: inline-block; 
    padding:6px 21px 6px 21px; 
    margin:0px;
    vertical-align: middle;
}

#selection-count-alert .close{
    right: -15px;
}
